<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @beer.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Production location</dt>
              <dd><%= @beer.production_location %></dd>

              <dt>Catagory</dt>
              <dd><%= @beer.catagory %></dd>

              <dt>Photo</dt>
              <dd><img src="<%= @beer.photo %>" class="img-responsive"></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/beers" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/beers/<%= @beer.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_beer/<%= @beer.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
